.main {
  min-height: 80vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  background: url("./assets/books.jpg") no-repeat center;
  background-size: cover;
}

.info > div {
  background: rgba(0, 0, 0, 0.786);
  color: #fff;
  padding: 3rem;
  border-radius: 10px;
}

/* Dashboard-layout */

.dashboard-layout {
  width: 100vw;
  display: flex;
}

.dashboard-main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 85vh;
}

/* SIDEBAR */
aside {
  flex: 0.5;
  min-height: 100vh;
  background: #ffc108;
}

.top {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem auto;
}

.top img {
  width: 50%;
  border-radius: 50%;
}

.bottom ul {
  padding: 0;
  list-style: none;
}

.bottom {
  padding-left: 15px;
}

.bottom ul .link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
}

.bottom ul .link li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom ul .link:hover {
  background: #212529;
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.bottom ul .title {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
  text-decoration: underline;
}

/* ADD BOOK */
.add .add-top,
.add-bottom {
  padding: 2rem;
  margin: 20px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
}
.add-top {
  display: flex;
  justify-content: end;
}
.add-top h1 {
  color: rgb(179, 178, 178);
  font-size: 1.5rem;
}
.add-bottom {
  display: flex;
  gap: 1rem;
}
.add-bottom label {
  font-weight: 500;
}

.books-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
